<!DOCTYPE html>
<html>
  <head>
    <title>SKILLS List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>SKILLS</h1>
    <a href='../'>BACK HOME</a>
  </body>
</html>
